
<li>
  <span class='header'>Add</span>
</li>
<li class='divider'></li>
<li>
  <a class='new-board' href='#'>
    <b>New Board...</b>
    <span class='add-item-description'>
      A board where you can add your stuff and arrange em as you please.
    </span>
  </a>
</li>
